body{

	margin:0px 0px; padding:0px;
	text-align:center;
	background:#e0e0e0;

}

#PO{

height: 150px;
margin: 0;
background: #242121;
border-bottom: 5px solid #AFF733;
}

#MENU {
background: blue;
width: 800px;
text-align: center; 

}
ul{text-align: center; 
background: blue;

}
ul li{
display:inline;
}
li a{

font-family: Arial;
color: #ffffff;
font-size: 35px;
padding: 5px;
text-decoration: none;
-webkit-box-shadow: 0px 1px 3px #666666;
-moz-box-shadow: 0px 1px 3px #666666;
box-shadow: 0px 1px 3px #666666;
text-shadow: 1px 1px 3px #666666;
border: solid #000000 2px;
background: -webkit-gradient(linear, 0 0, 0 100%, from(#2256f2), to(#01040d));
background: -moz-linear-gradient(top, #2256f2, #01040d);
}
.HEADLINE{

	text-align:center;
	

}
.ALL{
	
	position: relative; 
	top: -130px;
	width:800px; 
	margin:0px auto;
	text-align:left;
	padding:15px;
	border:1px solid #333;
	background-color:#FFF;

} 

#naglowek {
position: relative; 
	top: -130px;
margin:10px auto -13px auto;
font-size:0.8em;
width:760px;
}

#naglowek p {

text-align:right;
color:#808080;
}

a {
color:#303030;
text-decoration:none;

}

a:hover {
color:#303030;
text-decoration:none;

}

p {
margin:0 0 15px 0;
line-height:1.5em;
text-align:left;
}

.nag-tab {

border-top-right-radius: 10px;
border-top-left-radius: 10px;
padding:4px 5px 3px 5px;
margin:0 0 0 4px;
text-decoration:none;
background:#597823;
color:#040404;

}

.nag-tab:hover {
border-top-right-radius: 10px;
border-top-left-radius: 10px;
background:#fafafa;

color:#505050;
text-decoration:none;
}